#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #CCCCCC;
    height: 62px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a h3 {
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p {
    font-size: 0.7em;
    color: #000000;
}

#lista-noticias li:hover {
    background: #eeeeee;
}