h2 {
    font-size: 1em;
    background: #294c71;
    color: #ffffff;
    padding: 5px;
}

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

a:link a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0;
}

#duas-colunas #primario {
    width: 555px;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}