.caixa-lateral {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
}

.caixa-conteudo-lateral {
    background: #ffffff;
    padding: 5px;
    margin-top: 5px;
}

.caixa-conteudo-lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #ffffff;
}

input.submit {
    width: 80px;
    color: #ffffff;
    background-color: #b10333;
    border: 2px solid #870529;
}